NEXT_PUBLIC_SUPABASE_URL=https://gpmqauvucxtumegkqnum.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdwbXFhdXZ1Y3h0dW1lZ2txbnVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkzNjI3MTEsImV4cCI6MTk5NDkzODcxMX0.jqWAxV4QabG9S3yjm2E7UCZxDVVnVryEAcxrjVs7viU